@font-face {
  font-family: "RoundsBlack";
  src: url("./assets/fonts/RoundsBlack.woff") format("woff"),
    url("./assets/fonts/RoundsBlack.ttf") format("truetype"),
    url("./assets/fonts/RoundsBlack.eot") format("embedded-opentype");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

text {
  user-select: none;
  font-family: "RoundsBlack";
  color: white;
  -webkit-text-stroke: 3px black;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

#background {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#counter {
  font-size: 60px;
  transition: all linear 0.05s;
}

#title {
  font-size: 100px;
}

#dan {
  position: absolute;
  height: 60vh;
  object-fit: cover;
  bottom: 0;
}

#panel {
  background-color: white;
  height: 60px;
  width: 60px;
}

@media (max-width: 700px) {
  #dan {
    height: auto;
    width: 60vw;
  }
  #title {
    font-size: 11vw;
  }
}

@media (max-height: 500px) {
  #dan {
    width: auto;
    height: 250px;
  }
  #title {
    font-size: 11vw;
  }
}
